# Home Budget

In [7]:
import psycopg2 as pg
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
import plotly.graph_objs as go
from pprint import pprint as pp
PG_USER = 'jacob'
CONN = pg.connect(dbname="homebudget", user=PG_USER)

/usr/local/lib/python3.5/dist-packages/plotly/graph_objs/_deprecations.py:558: DeprecationWarning:

plotly.graph_objs.YAxis is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.YAxis
  - plotly.graph_objs.layout.scene.YAxis


/usr/local/lib/python3.5/dist-packages/plotly/graph_objs/_deprecations.py:531: DeprecationWarning:

plotly.graph_objs.XAxis is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.XAxis
  - plotly.graph_objs.layout.scene.XAxis

## Balances Over Time

In [4]:
balance_data = pd.read_sql("SELECT date, balance, account FROM balance_history ORDER BY \
                            account, date ASC", con=CONN)
grouped = balance_data.groupby('account')
go_data = []
for name, group in grouped:
    this_go_data = go.Scatter (
      x = group['date'],
      y = group['balance'],
      name = name
    )
    go_data.append(this_go_data)
layout = go.Layout(
    title='Balance History',
    xaxis={'title':'time'},
    yaxis={'title':'balance'}
)
fig = go.Figure(data=go_data,layout=layout)
py.iplot(fig, filename='balance-history')

## Net Worth

In [14]:
net_assets = pd.read_sql_query("SELECT date, balance, account FROM balance_history\
                                ORDER BY account, date ASC LIMIT 1000", con=CONN)
data = net_assets.groupby('account')
for name, group in data:
    pp(name)
    pp(group['date'])

'CC - Blue Cash (AMEX)'
0      2017-06-02 21:39:00-05:00
1      2017-06-02 21:55:00-05:00
2      2017-06-02 22:16:00-05:00
3      2017-06-03 17:05:00-05:00
4      2017-06-04 17:15:00-05:00
5      2017-06-04 20:46:00-05:00
6      2017-06-06 21:04:00-05:00
7      2017-06-07 03:33:00-05:00
8      2017-06-07 22:49:00-05:00
9      2017-06-09 09:24:00-05:00
10     2017-06-09 14:23:00-05:00
11     2017-06-09 15:02:00-05:00
12     2017-06-09 17:11:00-05:00
13     2017-06-10 00:58:00-05:00
14     2017-06-10 02:01:00-05:00
15     2017-06-10 18:28:00-05:00
16     2017-06-11 20:50:00-05:00
17     2017-06-12 00:59:00-05:00
18     2017-06-12 02:07:00-05:00
19     2017-06-12 08:19:00-05:00
20     2017-06-12 19:34:00-05:00
21     2017-06-13 02:13:00-05:00
22     2017-06-13 21:13:00-05:00
23     2017-06-14 19:49:00-05:00
24     2017-06-14 20:49:00-05:00
25     2017-06-15 16:33:00-05:00
26     2017-06-15 20:04:00-05:00
27     2017-06-17 04:50:00-05:00
28     2017-06-17 17:30:00-05:00
29     2017-06-17 19:52:00-05:00
                 ...
834    2018-08-29 16:16:00-05:00
835    2018-08-30 02:00:00-05:00
836    2018-08-30 03:54:00-05:00
837    2018-08-30 21:44:00-05:00
838    2018-08-30 23:16:00-05:00
839    2018-08-31 02:36:00-05:00
840    2018-08-31 05:46:00-05:00
841    2018-08-31 16:52:00-05:00
842    2018-08-31 18:45:00-05:00
843    2018-08-31 23:31:00-05:00
844    2018-09-01 01:15:00-05:00
845    2018-09-01 18:20:00-05:00
846    2018-09-01 19:14:00-05:00
847    2018-09-02 02:39:00-05:00
848    2018-09-02 03:26:00-05:00
849    2018-09-02 17:07:00-05:00
850    2018-09-03 17:20:00-05:00
851    2018-09-03 22:26:00-05:00
852    2018-09-04 03:16:00-05:00
853    2018-09-04 04:13:00-05:00
854    2018-09-04 05:02:00-05:00
855    2018-09-04 19:20:00-05:00
856    2018-09-04 23:44:00-05:00
857    2018-09-05 00:27:00-05:00
858    2018-09-06 00:52:00-05:00
859    2018-09-06 16:24:00-05:00
860    2018-09-06 19:47:00-05:00
861    2018-09-06 22:21:00-05:00
862    2018-09-07 22:31:00-05:00
863    2018-09-08 21:10:00-05:00
Name: date, Length: 864, dtype: object
'CC - Corporate (AMEX)'
864    2017-06-02 21:39:00-05:00
865    2017-06-02 21:55:00-05:00
866    2017-06-02 22:16:00-05:00
867    2017-06-03 17:05:00-05:00
868    2017-06-04 17:15:00-05:00
869    2017-06-04 20:46:00-05:00
870    2017-06-06 21:04:00-05:00
871    2017-06-07 03:33:00-05:00
872    2017-06-07 22:49:00-05:00
873    2017-06-09 09:24:00-05:00
874    2017-06-09 14:23:00-05:00
875    2017-06-09 15:02:00-05:00
876    2017-06-09 17:11:00-05:00
877    2017-06-10 00:58:00-05:00
878    2017-06-10 02:01:00-05:00
879    2017-06-10 18:28:00-05:00
880    2017-06-11 20:50:00-05:00
881    2017-06-12 00:59:00-05:00
882    2017-06-12 02:07:00-05:00
883    2017-06-12 08:19:00-05:00
884    2017-06-12 19:34:00-05:00
885    2017-06-13 02:13:00-05:00
886    2017-06-13 21:13:00-05:00
887    2017-06-14 19:49:00-05:00
888    2017-06-14 20:49:00-05:00
889    2017-06-15 16:33:00-05:00
890    2017-06-15 20:04:00-05:00
891    2017-06-17 04:50:00-05:00
892    2017-06-18 20:42:00-05:00
893    2017-06-19 22:53:00-05:00
                 ...
943    2017-07-20 00:25:00-05:00
944    2017-07-21 06:46:00-05:00
945    2017-07-22 06:16:00-05:00
946    2017-07-22 17:45:00-05:00
947    2017-07-22 18:50:00-05:00
948    2017-07-22 19:51:00-05:00
949    2017-07-22 20:07:00-05:00
950    2017-07-22 23:06:00-05:00
951    2017-07-23 02:03:00-05:00
952    2017-07-23 21:40:00-05:00
953    2017-07-25 00:34:00-05:00
954    2017-07-25 02:01:00-05:00
955    2017-07-25 04:27:00-05:00
956    2017-07-25 08:22:00-05:00
957    2017-07-25 19:52:00-05:00
958    2017-07-25 22:33:00-05:00
959    2017-07-26 00:47:00-05:00
960    2017-07-26 02:00:00-05:00
961    2017-07-27 00:26:00-05:00
962    2017-07-27 01:29:00-05:00
963    2017-07-27 03:40:00-05:00
964    2017-07-27 05:12:00-05:00
965    2017-07-27 16:17:00-05:00
966    2017-07-27 17:14:00-05:00
967    2017-07-28 01:48:00-05:00
968    2017-07-28 16:16:00-05:00
969    2017-07-28 17:07:00-05:00
970    2017-07-28 21:49:00-05:00
971    2017-07-29 01:37:00-05:00
972    2017-07-29 02:30:00-05:00
Name: date, Length: 109, dtype: object
'CC - Costco (Citi)'
973    2017-06-01 00:00:00-05:00
974    2017-07-17 14:44:00-05:00
975    2017-07-17 15:07:00-05:00
976    2017-07-17 15:49:00-05:00
977    2017-07-17 19:34:00-05:00
978    2017-07-17 20:01:00-05:00
979    2017-07-17 23:44:00-05:00
980    2017-07-18 01:04:00-05:00
981    2017-07-18 02:12:00-05:00
982    2017-07-19 02:14:00-05:00
983    2017-07-20 00:25:00-05:00
984    2017-07-21 10:51:00-05:00
985    2017-07-22 01:06:00-05:00
986    2017-07-22 17:46:00-05:00
987    2017-07-22 18:50:00-05:00
988    2017-07-22 19:52:00-05:00
989    2017-07-22 20:11:00-05:00
990    2017-07-22 23:07:00-05:00
991    2017-07-23 17:25:00-05:00
992    2017-07-24 22:46:00-05:00
993    2017-07-25 00:35:00-05:00
994    2017-07-25 02:02:00-05:00
995    2017-07-25 04:28:00-05:00
996    2017-07-25 08:23:00-05:00
997    2017-07-25 19:53:00-05:00
998    2017-07-25 22:33:00-05:00
999    2017-07-26 00:47:00-05:00
Name: date, dtype: object